<h1>Friends</h1>
<% @friends.each do |friend| %>
  <%= friend.email %><br>
  <%= button_to "Remove Friend", friend_path(friend), onclick: "return confirm('Are you sure you want to remove #{friend.email} as friend?')", class: 'btn btn-dark', method: :delete %>
<% end %>
